asgiref==3.11.1
astroid==4.0.4
charset-normalizer==3.4.7
colorama==0.4.6
dill==0.4.1
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
et_xmlfile==2.0.0
gunicorn==26.0.0
isort==8.0.1
mccabe==0.7.0
mysqlclient==2.2.8
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pillow==12.2.0
platformdirs==4.9.6
PyJWT==2.13.0
pylint==4.0.5
pymongo==4.17.0
python-dateutil==2.9.0.post0
qrcode==8.2
reportlab==4.5.1
six==1.17.0
sqlparse==0.5.5
tomlkit==0.15.0
tzdata==2026.2
whitenoise==6.12.0
